---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos - Mathilde Avron" description="About me">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Vous voulez en savoir plus sur moi ?"
			>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je?</h2>
				<div class="content">
					<p>
						Je m'appelle Mathilde Avron, je suis actuellement en 3ème année de BUT informatique à l'IUT A de Villeneuve d'Ascq.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<h3 class="section-subtitle">IUT A de Villeneuve d'Ascq - BUT Informatique</h3>
					<span>Septembre 2023 - Juin 2024</span>
					<p>
						Compétences acquises : Spring Boot, Mongo DB, React, Terraform, Rust, GitHub CI/CD, Qualité Développement/Algorithmique, Modélisation Mathématique, Traitement d'images.
					</p>
				</div>
				<div class="content">
					<h3 class="section-subtitle">Lycée Ozanam - BTS SNIR</h3>
					<span>Septembre 2021 - Juin 2023</span>
					<p>
						Compétences acquises : PHP, C, C++, SQL, Réseaux, Systèmes (Linux), UML.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Expériences</h2>
				<div class="content">
					<h3 class="section-subtitle">Stage - CARSAT Hauts de France</h3>
					<span>11 mars 2024 - 28 juin 2024</span>
					<p>
						Stage de fin de 3ème année de BUT Informatique. Développement d'une application en PHP 8.3.
					</p>
				</div>
				<div class="content">
					<h3 class="section-subtitle">Emploi étudiant - Auchan Roncq</h3>
					<span>Juillet 2023 - <b>Aujourd'hui</b></span>
					<p>
						Hotesse relation clientèle, c'est à dire caissière.
					</p>
				</div>
				<div class="content">
					<h3 class="section-subtitle">Stage - CARSAT Hauts de France</h3>
					<span>Mai 2022 - Juin 2022</span>
					<p>
						Stage de fin de 1ère année de BTS SNIR. Gestion des postes de travail, et des potentiels problèmes.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
	
	.section-subtitle {
		font-size: var(--text-m);
		margin-bottom: 6px;
		color: var(--gray-200);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
