---
import Icon from './Icon.astro';
---

<section class="box skills">

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Languages & Logiciels</h2>
	
		<div class="inline">
			<Icon icon="java" size="2rem" tooltip='Java & Spring Boot' />
			<Icon icon="react" size="2rem" tooltip='React' />
			<Icon icon="html" size="2rem" tooltip='HTML' />
			<Icon icon="css" size="2rem" tooltip='CSS' />
			<Icon icon="javascript" size="2rem" tooltip='Javascript' />
			<Icon icon="moon-stars" size="2rem" tooltip='PHP' />
			<Icon icon="python" size="2rem" tooltip='Python' />
			<Icon icon="moon-stars" size="2rem" tooltip='MongoDB' />
			<Icon icon="sql" size="2rem" tooltip='MySQL' />
			<Icon icon="git-branch" size="2rem" tooltip='Git' />
		</div>
		<p>Au cours de mes études, j'ai appris à développer diverses applications. J'ai acquis des compétences en développement front-end, back-end,  en gestion de base de données, etc...</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Languages bas niveau</h2>
		<div class="inline">
			<Icon icon="c-plus-plus" size="2rem" tooltip='C++' />
			<Icon icon="rust" size="2rem" tooltip='Rust' />
		</div>
		<p>Durant mon BTS j'ai appris à programmer en C++. Pendant mon BUT, j'ai participé à un projet de développement d'un émulateur en Rust, ce qui m'a permis de découvrir ce langage. Ainsi que de me familiariser avec le concept d'émulations</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="gitlab" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Gitlab CI/CD & Github Actions</h2>

		<p>J'ai appris à utiliser Gitlab CI/CD et Github Actions pour automatiser les tests et le déploiement de mes applications.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
        <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Algorithmique</h2>
		<p>J'ai acquis des compétences en algorithmique et en programmation lors de mes études en BTS & BUT Informatique.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
